.Home-container{
   background-image: url('/src/assets/image/p.jpg');
   width: 100%;
   height: 250vh;
   background-size: contain;
   background-repeat: no-repeat;
   

}

h2{
    color: white;
}

.detect-btn{
    color: white;
    background-color: #0C7075;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    height: 25px
}
 .detect-btn:hover{
    background-color: #32aab8;
 }
 .data{
    background-color: rgba(92, 90, 90, 0.527);
   
 }

