.Landing-btn{
    background-color: #453a79;
    color: white;
    margin-left: 5px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 90px;

}
h1{
    color: white;
}
p{
    color: white;
}

.Landing-btn:hover{
    background-color: #5f639c;
}

.Landingpage-container{
    text-align: center;
    margin-top: 10px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    width: 50%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

