.App {
  text-align: center;
  background-color: rgb(161, 161, 161);
  height: 900px;
  
}

input[type="text"] {
  width: 50%;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  border: none;
}